<div id="page-container">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="../index.html">Vinhill</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" href="../index.html">Home</a>
				</li>
				<li class="nav-item dropdown">
					<!-- TODO what does aria-current? -->
					<a class="nav-link dropdown-toggle active" aria-current="page" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						TTTStats
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" routerLink="/overview" routerLinkActive="active">Overview</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li>
							<a class="dropdown-item" routerLink="/player/{{player}}" routerLinkActive="active" *ngFor="let player of players">{{player}}</a>
						</li>
					</ul>
				</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Content -->
	<router-outlet></router-outlet>
	<!-- Footer -->
	<footer class="text-center bg-light">
		<div class="text-center p-2">
			<a class="link-secondary" href="../impressum.html">Impressum</a>
			© 2021 Copyright Vincent Hilla
		</div>
	</footer>
</div>