<div class="container">
	<div class="row justify-content-center">
		<div class="masonry">
			<div class="grid-item"></div>
			<div class="grid-item wide"></div>
			<div class="grid-item"></div>
			<div class="grid-item tall"></div>
			<div class="grid-item"></div>
			<div class="grid-item big"></div>
			<div class="grid-item wide"></div>
			<div class="grid-item"></div>
			<div class="grid-item big"></div>
			<div class="grid-item"></div>
			<div class="grid-item big" *ngFor="let res of results" style="padding: 1em">{{res}}</div>
		</div>
	</div>
</div>
<!-- TODO for small displays, have all be span 1 -->