.ranking-header {
    border-bottom: dotted grey;
}
.rank-value {
    text-align: center;
    font-size: larger;
}
.rank-row {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.podium-header {
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: bold;
}
.bg-gold {
    color: rgba(0, 0, 0, 0.72);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
    box-shadow:
        2px 2px 0.5em rgba(122, 98, 0, 0.55),
        inset 1px 1px 0 rgba(255, 255, 255, 0.9),
        inset -1px -1px 0 rgba(0, 0, 0, 0.34)
    ;
    border: 1px solid #deca73;
    background:
    linear-gradient(
        -72deg,
        #ffde45,
        #ffffff 16%,
        #ffde45 21%,
        #ffffff 24%,
        #452100 27%,
        #ffde45 36%,
        #ffffff 45%,
        #ffffff 60%,
        #ffde45 72%,
        #ffffff 80%,
        #ffde45 84%,
        #452100
    );
}
.bg-silver {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
    box-shadow:
        2px 2px 0.5em rgba(122, 122, 122, 0.55),
        inset 1px 1px 0 rgba(255, 255, 255, 0.9),
        inset -1px -1px 0 rgba(0, 0, 0, 0.34)
    ;
    border: 1px solid #dedede;
    background:
    linear-gradient(
        -72deg,
        #dedede,
        #ffffff 16%,
        #dedede 21%,
        #ffffff 24%,
        #454545 27%,
        #dedede 36%,
        #ffffff 45%,
        #ffffff 60%,
        #dedede 72%,
        #ffffff 80%,
        #dedede 84%,
        #a1a1a1
    );
}
.bg-bronze {
    color: rgba(45, 00, 0, 0.55);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0 #dea173;
    box-shadow:
        2px 2px 0.5em rgba(122, 55, 34, 0.55),
        inset 1px 1px 0 rgba(255, 255, 255, 0.9),
        inset -1px -1px 0 rgba(0, 0, 0, 0.5)
    ;
    border: 1px solid #dea173;
    background:
    linear-gradient(
        -72deg,
        #ca7345,
        #ffdeca 16%,
        #ca7345 21%,
        #ffdeca 24%,
        #a14521 27%,
        #ca7345 36%,
        #ffdeca 45%,
        #ffdeca 60%,
        #ca7345 72%,
        #ffdeca 80%,
        #ca7345 84%,
        #732100
    );
}

.rank-row::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
.rank-row::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
.rank-row::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(199, 199, 199);
  }