<div class="ranking" *ngFor="let ranking of rankings">
    <h3 class="display-4 ranking-header">{{ranking.title}}</h3>
    <div class="rank-row row">
        <div class="rolecard col-5 col-md-4 col-lg-3 col-xl-2" *ngFor="let row of ranking.rows; index as idx">
            <div class="card">
                <h5 class="card-header" [class.podium-header]="idx < 3"
                    [class.bg-gold]="idx == 0" [class.bg-silver]="idx == 1" [class.bg-bronze]="idx == 2">
                    {{row.name}}
                </h5>
                <div class="card-body">
                    <p class="rank-value">
                        {{row.value}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!loaded">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-secondary" role="status"></div>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-row-reverse">
                <button class="btn btn-secondary btn-reload" (click)="loadApiData()" [appFade]="2500" hidden>Reload</button>
            </div>
        </div>
    </div>
</div>