<div class="masonry-item {{classes}}">
	<div class="card">
		<h5 class="card-header" *ngIf="title">{{title}}</h5>
	  	<div class="card-body">
			<!-- Container for dynamic content from where the tag is used -->
			<div [style.aspect-ratio]="aspect" [style.overflow-y]="aspect ? 'scroll' : undefined">
				<ng-content *ngIf="loaded"></ng-content>
			</div>
			<div *ngIf="!loaded">
				<div class="row">
					<div class="col-4"></div>
					<div class="col-4">
						<div class="d-flex justify-content-center">
							<div class="spinner-border text-secondary" role="status"></div>
						</div>
					</div>
					<div class="col-4">
						<div class="d-flex flex-row-reverse">
							<button class="btn btn-secondary btn-reload" (click)="reload.emit()" [appFade]="2500" hidden>Reload</button>
						</div>
					</div>
				</div>
			</div>
	  	</div>
	</div>
</div>
