<!-- Text -->
<div *ngIf="display == 'text'">
  {{stringify(result)}}
</div>

<!-- Table -->
<div *ngIf="display == 'table'">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let key of _datakeys">{{cnames[key] || key}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of result">
        <td *ngFor="let key of _datakeys">{{row[key]}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Chart -->
<div *ngIf="display == 'chart' && loaded">
  <canvas baseChart
    [data]="_chartData"
    [type]="ctype"
    [options]="coptions">
  </canvas>
</div>