.btn-reload {
  height: 2.5rem;
}
.btn-reload:active {
  transform: translateY(4px);
}
.spinner-border {
  width: 2.5rem;
  height: 2.5rem;
}

@media only screen and (max-width: 576px) {
  th, td {
    font-size: smaller;
 }
}