<div dataMasonry='{ "itemSelector": ".masonry-item" }'>
	<card>
		<h1 class="display-3">TTT Overview</h1>
	</card>
	<card title="Spiele" [loaded]="rpgc.loaded" [reloadCallback]="rpgc.load">
		<resttt-chart #rpgc
			query="PlayerGameCount"
			labelkey="player"
			datakeys="rounds"
			ctype="bar"
			cmap="score"
			[coptions]="{plugins:{legend:{display: false}}}">
		</resttt-chart>
	</card>
	<card title="Karten" [loaded]="rmc.loaded" [reloadCallback]="rmc.load">
		<resttt-chart #rmc
			query="MapCount"
			labelkey="map"
			datakeys="count"
			ctype="doughnut"
			[coptions]="{aspectRatio: 2, plugins:{legend:{position:'right'}}}">
		</resttt-chart>
	</card>
	<card title="Kills" [loaded]="rpkc.loaded" [reloadCallback]="rpkc.load">
		<resttt-table #rpkc
			query="PlayerKillCount"
			[datakeys]="['player','kills','wrong']">
		</resttt-table>
	</card>
	<card title="Rollen" size="large" [loaded]="rrc.loaded" [reloadCallback]="rrc.load">
		<resttt #rrc
			query="RoleCount"
			display="RoleTM">
		</resttt>
	</card>
</div>