<div class="masonry" #masonry>
	<card>
		<h1 class="display-3">TTT Overview</h1>
		Made with ❤ by Josu und Vincent
	</card>
	<card title="Games" [loaded]="rpgc.loaded" [reloadCallback]="rpgc.load">
		<resttt-chart #rpgc
			query="PlayerGameCounts"
			labelkey="player"
			datakeys="rounds"
			ctype="bar"
			cmap="score"
			[legend]="{disabled: true}">
		</resttt-chart>
	</card>
	<card title="Maps" [loaded]="rmc.loaded" [reloadCallback]="rmc.load">
		<resttt-chart #rmc
			query="MapCount"
			labelkey="map"
			datakeys="count"
			ctype="doughnut"
			cmap="plotly">
		</resttt-chart>
	</card>
	<card title="Kills" [loaded]="rpkc.loaded" [reloadCallback]="rpkc.load">
		<resttt-table #rpkc
			query="KillStats"
			datakeys="player,kills,wrong,kpg">
		</resttt-table>
	</card>
	<card title="Roles" size="large" [loaded]="rrc.loaded" [reloadCallback]="rrc.load">
		<resttt #rrc
			query="RoleCount"
			display="RoleTM">
		</resttt>
	</card>
	<card title="Who kills who?" [loaded]="wkw.loaded" [reloadCallback]="wkw.load">
		<resttt #wkw
			query="WhoKilledWho"
			display="Sankey"
			[options]="{source:'killer', target:'victim'}">
		</resttt>
	</card>
	<!--card title="Who sides with who?" [loaded]="wkw.loaded" [reloadCallback]="wkw.load">
		<resttt #wkw
			query="WhoTeamedWho"
			display="Sankey"
			[options]="{source:'player', target:'mate'}">
		</resttt>
	</card-->
	<card title="Bought the most" [loaded]="rpp.loaded" [reloadCallback]="rpp.load">
		<resttt-chart #rpp
			query="PopularPurchases"
			labelkey="item"
			datakeys="amount"
			ctype="doughnut"
			cmap="plotly">
		</resttt-chart>
	</card>
	<card title="Victorious teams" [loaded]="rtw.loaded" [reloadCallback]="rtw.load">
		<resttt-chart #rtw
			query="TeamWincount"
			labelkey="team"
			datakeys="count"
			ctype="doughnut"
			cmap="plotly">
		</resttt-chart>
	</card>
</div>