<div class="masonry" #masonry>
	<card>
		<h1 class="display-3">TTT Overview</h1>
		Made with ❤ by Josu und Vincent
		<br>
		Code available <a class="link-secondary" href="https://github.com/vinhill/TTTStats">here</a>
	</card>
	<card title="Maps" [loaded]="rmc.loaded" [reloadCallback]="rmc.load">
		<resttt-chart #rmc
			query="MapCount"
			labelkey="map"
			datakeys="count"
			ctype="doughnut"
			cmap="plotly">
		</resttt-chart>
	</card>
	<card title="Kill stats" [loaded]="rpkc.loaded" [reloadCallback]="rpkc.load">
		<!--resttt-table #rpkc
			query="KillStats"
			datakeys="player,kills,deaths">
		</resttt-table-->
		<resttt-chart #rpkc
			query="KillStats"
			labelkey="player"
			datakeys="kills,deaths"
			ctype="bar"
			[legend]="LegendType.ChartJS"
			[coptions]="{plugins: {legend: {position: 'bottom'}}}"
			cmap="plotly">
		</resttt-chart>
	</card>
	<card title="Roles" size="large" [loaded]="rrc.loaded" [reloadCallback]="rrc.load">
		<resttt #rrc
			query="RoleCount"
			display="Treemap"
			[options]="{label: 'startrole', parent: 'superteam', value: 'count', color: 'colour'}">
		</resttt>
	</card>
	<card title="Who kills who?" [loaded]="wkw.loaded" [reloadCallback]="wkw.load">
		<resttt #wkw
			query="WhoKilledWho"
			display="Sankey"
			[options]="{source:'killer', target:'victim'}">
		</resttt>
	</card>
	<card title="Bought the most" [loaded]="rpp.loaded" [reloadCallback]="rpp.load">
		<resttt-chart #rpp
			query="PopularPurchases"
			labelkey="item"
			datakeys="amount"
			ctype="doughnut"
			cmap="plotly">
		</resttt-chart>
	</card>
	<card title="Kills per weapon" [loaded]="rkbw.loaded" [reloadCallback]="rkbw.load">
		<resttt-chart #rkbw
			query="KillsByWeaponLimited"
			[params]="{limit: 25}"
			labelkey="weapon"
			datakeys="count"
			ctype="doughnut"
			cmap="plotly">
		</resttt-chart>
	</card>
	<!--
		TODO
		Win / loss per Role and per Team
		Smaller cards for in between
	-->
</div>