<div class="masonry" #masonry>
	<card>
		<h1 class="display-3">{{player}}</h1>
		You played {{fillin.rounds}} games!
		<br>
		And you won {{100*fillin.winratio}}%, survived {{100*fillin.surviveratio}}% of them :)
		<br>
		During these, you got {{fillin.kills}} kills.
		<br>
		That's a k/d of {{fillin.kdratio}} and a game-average of {{100*fillin.kgratio}}%.
		<br>
		<div *ngIf="fillin.teamkills">... buuut you also killed {{fillin.teamkills}} of your COLLEAGUES!</div>
	</card>
	<card title="Bought the most" [loaded]="cPopularPurchases !== undefined" (reload)="loadPopularPurchases()">
		<data-chart [data]="cPopularPurchases!"></data-chart>
	</card>
	<card title="Your best weapons" [loaded]="cKillsByWeapon !== undefined" (reload)="loadKillsByWeapon()">
		<data-chart [data]="cKillsByWeapon!"></data-chart>
	</card>
	<card title="Who do you kill more?" [loaded]="cWhoKilledWhoMore !== undefined" (reload)="loadWhoKilledWhoMore()">
		<data-chart [data]="cWhoKilledWhoMore!" [legend]="LegendType.ChartJS"></data-chart>
	</card>
	<card title="Your best and worst roles" [loaded]="cRolesWinSur !== undefined" (reload)="loadRolesWinSur()">
		<select class="form-control" (change)="loadRolesWinSur()" #cRoleSelect>
			<option value="best_win_rt">Best winrate</option>
			<option value="best_sur_rt">Best survival</option>
			<option value="worst_win_rt">Worst winrate</option>
			<option value="worst_sur_rt">Worst survival</option>
		</select>
		<data-chart [data]="cRolesWinSur!" [legend]="LegendType.ChartJS"></data-chart>
	</card>	
	<card title="Over time" [loaded]="cTS !== undefined" (reload)="loadTS()">
		<data-chart [data]="cTS!" [legend]="LegendType.ChartJS"></data-chart>
	</card>
	<card title="Most dangerous for you" [loaded]="cDeathsByWeapon !== undefined" (reload)="loadDeathsByWeapon()">
		<data-chart [data]="cDeathsByWeapon!"></data-chart>
	</card>
</div>
