<div class="masonry" #masonry>
	<card>
		<h1 class="display-3">{{name}}</h1>
		<p>Du hast {{rounds}} Runden gespielt!</p>
		<p>Dabei erzieltest du {{kills}} kills</p>
		<p *ngIf="teamkills">... aaaber {{teamkills}} davon waren TEAMKILLS!</p>
	</card>
	<card title="Rollen" size="large" [loaded]="rrc.loaded" [reloadCallback]="rrc.load">
		<resttt #rrc
			query="PlayerRoleCount"
			[params]="{player: name}"
			display="RoleTM">
		</resttt>
	</card>
	<card title="Meistgekauft" [loaded]="rpp.loaded" [reloadCallback]="rpp.load">
		<resttt-chart #rpp
			query="PlayerPopularPurchases"
			[params]="{player: name}"
			labelkey="item"
			datakeys="amount"
			ctype="doughnut"
			cmap="plotly">
		</resttt-chart>
	</card>
	<card title="Siegreiche Rollen" [loaded]="rpw.loaded" [reloadCallback]="rpw.load">
		<resttt-table #rpw
			query="PlayerRoleWincount"
			[params]="{player: name}"
			datakeys="startrole,count"
			[cnames]="{startrole: 'Anfangsrolle', count: 'Anzahl'}">
			ctype="doughnut">
		</resttt-table>
	</card>
	<card title="Beste Waffe" [loaded]="rpkbw.loaded" [reloadCallback]="rpkbw.load">
		<resttt-chart #rpkbw
			query="PlayerKillsByWeapon"
			[params]="{player: name}"
			labelkey="weapon"
			datakeys="count"
			ctype="doughnut"
			cmap="plotly">
		</resttt-chart>
	</card>
	<card title="Für dich am gefährlichsten" [loaded]="rpdbw.loaded" [reloadCallback]="rpdbw.load">
		<resttt-chart #rpdbw
			query="PlayerDeathsByWeapon"
			[params]="{player: name}"
			labelkey="weapon"
			datakeys="count"
			ctype="doughnut"
			cmap="plotly">
		</resttt-chart>
	</card>
</div>
