<div class="masonry" #masonry>
	<card>
		<h1 class="display-3">{{name}}</h1>
		<p>You played {{rounds}} games!</p>
		<p>During these, you got {{kills}} kills</p>
		<p>That's a k/d of {{kdratio}} and a game-average of {{kgratio}}.</p>
		<p *ngIf="teamkills">... buuut you also killed {{teamkills}} of your COLLEAGUES!</p>
	</card>
	<card title="Bought the most" [loaded]="cPopularPurchases !== undefined" [reloadCallback]="loadPopularPurchases">
		<data-chart [data]="cPopularPurchases!"></data-chart>
	</card>
	<card title="Best weapon" [loaded]="cKillsByWeapon !== undefined" [reloadCallback]="loadKillsByWeapon">
		<data-chart [data]="cKillsByWeapon!"></data-chart>
	</card>
	<card title="Roles" size="large" [loaded]="cRoles !== undefined" [reloadCallback]="loadRolesTreemap">
		<data-plotly [data]="cRoles!"></data-plotly>
	</card>	
	<card title="Most dangerous for you" [loaded]="cDeathsByWeapon !== undefined" [reloadCallback]="loadDeathsByWeapon">
		<data-chart [data]="cDeathsByWeapon!"></data-chart>
	</card>
	<!--
		TODO
		Kills from and for other players
		Role and team winrate
	-->
</div>
