<div class="chart-container" [class.chart-container-nolegend]="!legendconfig.disabled">
  <canvas #chart></canvas>
</div>

<div class="chart-legend">
  <ul class="chart-legend-list">
    <li class="chart-legend-item" (click)="chartToggleItem(item)" *ngFor="let item of legenditems">
      <span class="small" [style.background]="item.fillStyle" [style.border-color]="item.strokeStyle" [style.border-width]="item.lineWidth+'px'"></span>
      <p class="small" [style.font-color]="item.fontColor" [style.text-decoration]="item.hidden ? 'line-through' : ''">{{cleanTTTLabel(item.text)}}</p>
    </li>
  </ul>
</div>