<div class="chart-container" [class.chart-container-legend]="legend">
  <canvas #chart></canvas>
</div>

<div class="chart-legend">
  <ul class="chart-legend-list" *ngFor="let item of legenditems">
    <li class="chart-legend-item" (click)="chartToggleItem(item)">
      <span [style.background]="item.fillStyle" [style.border-color]="item.strokeStyle" [style.border-width]="item.lineWidth+'px'"></span>
      <p [style.font-color]="item.fontColor" [style.text-decoration]="item.hidden ? 'line-through' : ''">{{item.text}}</p>
    </li>
  </ul>
</div>