<div class="masonry" #masonry>
	<card>
		<h1 class="display-3">Recent Game</h1>
		<div class="lead">on {{fillin.dow}}, {{fillin.datestr}}</div>
		You played {{fillin.rounds}} rounds.
	</card>
	<card title="Maps" [loaded]="cMapCount !== undefined" (reload)="loadMapCount()">
		<data-chart [data]="cMapCount!"></data-chart>
	</card>
	<card title="Kills / Deaths" [loaded]="cKillsDeaths !== undefined" (reload)="loadKillsDeaths()">
		<data-chart [data]="cKillsDeaths!" [legend]="LegendType.ChartJS"></data-chart>
	</card>
	<card title="Karma" [loaded]="cKarmaTS !== undefined" (reload)="loadKarma()" size="large">
		<!--<data-plotly [data]="cKarmaTS?.data!" [layout]="cKarmaTS?.layout"></data-plotly>-->
		<data-chart [data]="cKarmaTS!" [legend]="LegendType.ChartJS"></data-chart>
	</card>
	<card title="Role distribution" size="large" [loaded]="cRoles !== undefined" (reload)="loadRolesTreemap()">
		<data-plotly [data]="cRoles!"></data-plotly>
	</card>
	<card title="Who kills who?" [loaded]="cWhoKilledWho !== undefined" (reload)="loadWhoKilledWho()">
		<data-plotly [data]="cWhoKilledWho!"></data-plotly>
	</card>
	<card title="Bought the most" [loaded]="cPopularPurchases !== undefined" (reload)="loadPopularPurchases()">
		<data-chart [data]="cPopularPurchases!"></data-chart>
	</card>
	<card title="Top 10 weapons (kills)" [loaded]="cKillsPerWeapon !== undefined" (reload)="loadKillsPerWeapon()">
		<data-chart [data]="cKillsPerWeapon!"></data-chart>
	</card>
	<card title="Who understands this?" [loaded]="true" (reload)="loadMediumChat()" *ngIf="mediumChats">
		{{mediumChats}}
	</card>
	<card title="Team winrate / surviverate" [loaded]="cTeamWonSurRate !== undefined" (reload)="loadTeamWonSurRate()">
		<data-chart [data]="cTeamWonSurRate!" [legend]="LegendType.None"></data-chart>
	</card>
	<card title="Min Karma" [loaded]="minKarma.player !== ''" (reload)="loadKarma()" size="tiny">
		{{minKarma!.player}} got the worst karma with {{minKarma!.karma}}
	</card>
	<card title="Top Multikills" [loaded]="multikills !== undefined" (reload)="loadMultikills()">
		<div *ngIf="multikills?.data!.length == 0">
			No multikills this round.
		</div>
		<data-table [data]="multikills?.data!" [headers]="multikills?.header!" columns="player, weapon, count" *ngIf="multikills?.data!.length > 0"></data-table>
	</card>
</div>