<div class="masonry" #masonry>
	<card>
		<h1 class="display-3">Recent Match</h1>
		<p class="lead">{{matchdate}}</p>
	</card>
	<card title="Maps" [loaded]="cMapCount !== undefined" [reloadCallback]="loadMapCount">
		<data-chart [data]="cMapCount!"></data-chart>
	</card>
	<card title="Kills / Deaths" [loaded]="cKillsDeaths !== undefined" [reloadCallback]="loadKillsDeaths">
		<data-chart [data]="cKillsDeaths!" [legend]="LegendType.ChartJS"></data-chart>
	</card>
	<card title="Bought the most" [loaded]="cPopularPurchases !== undefined" [reloadCallback]="loadPopularPurchases">
		<data-chart [data]="cPopularPurchases!"></data-chart>
	</card>
	<card title="Kills per weapon" [loaded]="cKillsPerWeapon !== undefined" [reloadCallback]="loadKillsPerWeapon">
		<data-chart [data]="cKillsPerWeapon!"></data-chart>
	</card>
	<!--
		TODO
		Win / loss per Role and per Team
		Smaller cards for in between
	-->
</div>