.card-header {
  color: white;
}
.groupheader {
  border-bottom: dotted grey;
}
.roledescr {
  margin-bottom: 0px;
}
.rolecard {
  padding: 0.5em;
}
.btn-reload {
  height: 2.5rem;
}
.btn-reload:active {
  transform: translateY(4px);
}
.spinner-border {
  width: 2.5rem;
  height: 2.5rem;
}
.card {
  height: 100%;
}